{% extends 'main.html' %}

{% block content %}
    <h1>Home Template</h1>

    <div>

        <a href="{% url 'create-room' %}">Create Room</a>

        {% for room in rooms %}
            <div>
                <h5>{{ room.id }} --- <a href="{% url 'room' room.id %}"> {{ room.name }}</a></h5>
                <p><b>Host: </b> @{{ room.host.username }}</p>
                <p><b>Topic: </b> {{ room.topic.name }}</p>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}